.pres_list{
	background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: auto;
}

.pres_list {
    position: relative;
    display: inline-block;
}
 